# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*

# Temporary files
*.tmp
*.bak
*.backup

# Logs
*.log
/node_modules
/.available.cache

# Local tool-version artifact created by integration test runs
/.vfox.toml
